<div class="container" fxLayout="column">
  <form [formGroup]="addCreditCardForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>New Credit Card</h1>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="addCreditCardForm.controls['name'].invalid && addCreditCardForm.controls['name'].errors.required">Please provide a name</mat-error>
        <mat-error *ngIf="addCreditCardForm.controls['name'].invalid && !addCreditCardForm.controls['name'].errors.required">{{addCreditCardForm.controls['name'].errors.message}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Number" formControlName="number">
        <mat-error *ngIf="addCreditCardForm.controls['number'].invalid">{{addCreditCardForm.controls['number'].errors.message}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Limit" type="number" formControlName="limit">
        <mat-error *ngIf="addCreditCardForm.controls['limit'].invalid">{{addCreditCardForm.controls['limit'].errors.message}}</mat-error>
      </mat-form-field>
    </div>
    <div flex fxLayoutAlign="flex-end">
      <button mat-raised-button color="primary">Add</button>
    </div>
  </form>
</div>