<div class="container" fxLayout="column">
  <form [formGroup]="addCreditCardForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>New Credit Card</h1>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="addCreditCardForm.controls['name'].errors && !addCreditCardForm.controls['name'].pristine">{{this.nameError}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Number" formControlName="number">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Limit" type="number" formControlName="limit">
      </mat-form-field>
    </div>
    <div flex fxLayoutAlign="flex-end">
      <button mat-raised-button color="primary">Add</button>
    </div>
  </form>
</div>